<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/c3/c3.css" />
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style type="text/css">
      /**
       * Hide when Angular is not yet loaded and initialized
       */
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
  </style>
  </head>
  <body ng-app="tueVizApp" ng-controller="MainCtrl" ng-cloak="" class="layout-row">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-whiteframe-z1">
        <h1>Visualizations</h1>
      </md-toolbar>

      <md-list>
        <md-list-item ng-repeat="it in menu.items">
            <md-button ng-click="menu.selectEntry(it)" ng-class="{'selected' : it === menu.selected }">
              <img class="avatar" ng-src="{{it.avatar}}">
              {{it.name}}
            </md-button>
        </md-list-item>

    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

      <md-toolbar layout="row" class="md-whiteframe-z1">
        <md-button class="menu" hide-gt-sm ng-click="menu.toggleSidebar()" aria-label="Show User List">
          <md-icon md-svg-icon="images/menu.svg"></md-icon>
        </md-button>
        <h1>2IMV20 Assignment 2</h1>
      </md-toolbar>

      <md-content flex id="content">
        <div ng-view="" style="height:100%;"></div>
      </md-content>
    </div>




    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/c3/c3.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/sifter/sifter.js"></script>
    <script src="bower_components/microplugin/src/microplugin.js"></script>
    <script src="bower_components/selectize/dist/js/selectize.js"></script>
    <script src="bower_components/select2/dist/js/select2.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/dummy.js"></script>
        <script src="scripts/directives/testpiechart.js"></script>
        <script src="scripts/services/testfactory.js"></script>
        <script src="scripts/controllers/diseasome.js"></script>
        <script src="scripts/services/diseasegraphfactory.js"></script>
        <script src="scripts/directives/diseasegraph.js"></script>
        <script src="scripts/directives/diseasefilter.js"></script>
        <!-- endbuild -->
</body>
</html>
