<md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column" style="overflow:hidden;">
  <div flex="20" flex-sm="50" flex-xs="100" layout="column" ng-show="data">
    <span><img class="reference-icon" src="images/1f77b4.png" alt="1f77b4"> {{data.groups[0]}}</span>
    <span><img class="reference-icon" src="images/aec7e8.png" alt="aec7e8"> {{data.groups[1]}}</span>
    <span><img class="reference-icon" src="images/ff7f0e.png" alt="ff7f0e"> {{data.groups[2]}}</span>
    <span><img class="reference-icon" src="images/ffbb78.png" alt="ffbb78"> {{data.groups[3]}}</span>
    <span><img class="reference-icon" src="images/2ca02c.png" alt="2ca02c"> {{data.groups[4]}}</span>
    <span><img class="reference-icon" src="images/98df8a.png" alt="98df8a"> {{data.groups[5]}}</span>
    <span><img class="reference-icon" src="images/d62728.png" alt="d62728"> {{data.groups[6]}}</span>
    <span><img class="reference-icon" src="images/ff9896.png" alt="ff9896"> {{data.groups[7]}}</span>
    <span><img class="reference-icon" src="images/9467bd.png" alt="9467bd"> {{data.groups[8]}}</span>
    <span><img class="reference-icon" src="images/c5b0d5.png" alt="c5b0d5"> {{data.groups[9]}}</span>
    <span><img class="reference-icon" src="images/8c564b.png" alt="8c564b"> {{data.groups[10]}}</span>
    <span><img class="reference-icon" src="images/c49c94.png" alt="c49c94"> {{data.groups[11]}}</span>
    <span><img class="reference-icon" src="images/e377c2.png" alt="e377c2"> {{data.groups[12]}}</span>
    <span><img class="reference-icon" src="images/f7b6d2.png" alt="f7b6d2"> {{data.groups[13]}}</span>
    <span><img class="reference-icon" src="images/7f7f7f.png" alt="7f7f7f"> {{data.groups[14]}}</span>
    <span><img class="reference-icon" src="images/c7c7c7.png" alt="c7c7c7"> {{data.groups[15]}}</span>
    <span><img class="reference-icon" src="images/bcbd22.png" alt="bcbd22"> {{data.groups[16]}}</span>
    <span><img class="reference-icon" src="images/dbdb8d.png" alt="dbdb8d"> {{data.groups[17]}}</span>
    <span><img class="reference-icon" src="images/17becf.png" alt="17becf"> {{data.groups[18]}}</span>
    <span><img class="reference-icon" src="images/9edae5.png" alt="9edae5"> {{data.groups[19]}}</span>
    <disease-filter data="data" category="selected.group" diseases="selected.diseases"></disease-filter>
    <weight-slider ng-show="data" weight="weight"></weight-slider>
  </div>
  <div flex="80" flex-sm="50" flex-xs="100" layout="column" ng-show="data">
    <disease-graph data="data" category="selected.group" diseases="selected.diseases" weight="weight"></disease-graph>
  </div>
  <md-progress-circular ng-show="!data" md-diameter="200" md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" class="ng-scope" style="margin-top:25%; width: 200px; height: 200px;">
    <div class="md-scale-wrapper md-mode-indeterminate" style="transform: translate(-50%, -50%) scale(0.96);">
      <div class="md-spinner-wrapper">
        <div class="md-inner">
          <div class="md-gap"></div>
          <div class="md-left">
            <div class="md-half-circle"></div>
          </div>
          <div class="md-right">
            <div class="md-half-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </md-progress-circular>
</md-content>
