<img src="images/tue.jpg" class="banner" alt="Eindhoven University of Technology" />

<md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column">
  <div flex="50" flex-sm="100" flex-xs="100" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Mazen Aly</span>
          <span class="md-subhead">m.aly@student.tue.nl</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <img src="images/mazen.png" alt="Mazen Aly" />
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button target="_blank" href="https://github.com/MazenAly">Github</md-button>
        <md-button target="_blank" href="https://twitter.com/mazenaly">Twitter</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex="50" flex-sm="100" flex-xs="100" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Rodrigo Parra</span>
          <span class="md-subhead">r.m.parra.zacarias@student.tue.nl</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <img src="images/rodrigo.png" alt="Rodrigo Parra" />
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button target="_blank" href="https://github.com/rparrapy">Github</md-button>
        <md-button target="_blank" href="https://twitter.com/rparrapy">Twitter</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
